p {text-align: right;
	color: red;
}
h1 {text-align: center;
	color: green;
}

h2 {text-align: left;
	color: blue;
}
h3 {text-align: justify;
	color: red;
}
p {
	color: #6E86D6;
}
p {
	text-align: center;
}